<!DOCTYPE html>
<html lang="fr" ng-app="app" >
    <head>
        <meta charset="UTF-8">
        <title>Find your Way</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    </head>
<body class="container">
            <h1 class="text-center">Find your way!</h1>
            <ng-controller ng-controller="GameController">
                <h2 class="text-center"><timer interval="1000"><b>{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</b></timer></h2>
                <div ng-include="'rankingModal.html'"></div>
                <div ng-include="'modal.html'"></div>
                <section class="row">
                    <button type="button" class="btn btn-primary pull-right"  data-toggle="modal" data-target="#rankingModal" ng-click="ranking()">High Scores</button>
                    <button ng-if="game" type="button" class="btn {{game.isPlaying? 'btn-success' : 'btn-danger'}} pull-right" ng-click="pauseOrResume()">
                        {{game.isPlaying ? 'Pause' : 'Play'}}
                    </button>
                    <button type="button" class="btn btn-success pull-left" data-toggle="modal" data-target="#myModal">New Game</button>
                </section>
                <section class="col-md-8" >
                    <div class="bordered map">
                        <leaflet width="730px" height="510px" center="cen" event-broadcast="events" paths="paths" markers="markers">
                    </div>
                </section>
            </ng-controller>
            <section class="col-md-4">
                <div class="bordered box" ng-controller="PlacesController">
                    <div ng-if="places">
                        <places></places>
                    </div>
                </div>
                <div class="bordered box" ng-controller="DestinationController">
                    <div ng-if="destination">
                        <destination></destination>
                    </div>
                </div>
            </section>
    </body>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/leaflet/dist/leaflet.js"></script>
        <script src="lib/angular-leaflet-directive.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/model/game.js"></script>
        <script src="app/service/data_service.js"></script>
        <script src="app/factory/game_factory.js"></script>
        <script src="app/factory/level_factory.js"></script>
        <script src="app/directives/places-directive.js"></script>
        <script src="app/directives/ranking-directive.js"></script>
        <script src="app/directives/destination-directive.js"></script>
        <script src="app/controller/game_controller.js"></script>
        <script src="app/controller/places_controller.js"></script>
        <script src="app/controller/destination_controller.js"></script>
        
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/moment/min/locales.min.js"></script>
        <script src="bower_components/humanize-duration/humanize-duration.js"></script>
        <script src="bower_components/angular-timer/dist/angular-timer.min.js"></script>

        <script src="lib/utils.js"></script>
</html>
