<div id="pauseModal" class="modal fade" role="dialog"    data-backdrop="static" 
   data-keyboard="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Partie en pause</h4>
      </div>
      <div class="modal-body">
        <button ng-if="game" type="button" class="btn btn-success btn-block" ng-click="pauseOrResume()">
           Resume
         </button>
      </div>
    </div>
  </div>
</div>