@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
        body{
            background-color: lightgray;
        }
        .bordered{      
            overflow: auto;
            box-shadow: 1px 1px 8px #555;
            border-radius: 4px;
            background-color: white;
        }
        .map{
            margin-top : 10px;
            height: 510px;
        }
        .box{
            margin-top : 8px;
        }
        .btn{
            box-shadow: 0px 0px 1px 0px #343434;
            margin-top: 5px;
        }


        .blue_background{
            background-color: cornflowerblue;
            width: 100%;
            height: 230px;
            position: fixed;
            z-index: -10;
            box-shadow: 0px 2px 10px 0px #343434;
            clear: both;
        }
        .flex-container {
            display: flex;
            width: 83%;
            margin: 0 auto;

        }

        .flex-item {
            background-color: white;
            width: 20%;
            height: 120px;
            margin: 10px;
            box-shadow: 0px 0px 5px 0px #343434;
        }
        .Chrono{
            height: 70px;
        }
        .Place{
            margin-top: 25%;
        }
        .Destinations{
            height: 320px;
            padding: 5px;
        }
        .padding{
            padding: 4px;
        }