@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body{
    background-color: whitesmoke;
}
.bordered{
    overflow: auto;
    box-shadow: 1px 1px 8px #555;
    border-radius: 4px;
    background-color: white;
}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;

    a{
        color: #333;
        -webkit-transition: all 0.08s linear;
        -moz-transition: all 0.08s linear;
        -o-transition: all 0.08s linear;
        transition: all 0.08s linear;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .active a {
        cursor: default;
        background-color: #428bca;
        color: #fff;
        text-shadow: 1px 1px 1px #666;

        &:hover{
            background-color: #428bca;
        }
    }

    .text-overflow a, .text-overflow .media-body {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    &.pull-right {
        border-right: 0;
        border-left: 1px solid #ddd;

        a {
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
        }
    }
}

