<div class="row">
    <div class="center-block col-lg-4 col-sm-4">
        <form role="form">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" ng-class="form-control" id="uLogin" placeholder="Login">
                    <label for="uLogin" ng-class="input-group-addon glyphicon glyphicon-user"></label>
                </div>
            </div> <!-- /.form-group -->

            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control" id="uPassword" placeholder="Password">
                    <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                </div> <!-- /.input-group -->
            </div> <!-- /.form-group -->

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div> <!-- /.checkbox -->
        </form>
    </div>
</div>