<button type="button" class="btn btn-info add-button" data-toggle="modal" data-target="#addDestinationModal">Ajouter</button>
<div ng-include="'addHintToDestination.html'"></div>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Edition</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="destination in destinations">
            <td  ng-if="!isEditing(destination)">{{destination.name}}</td>
            <td  ng-if="isEditing(destination)"><input type="text" ng-model=destination.name class="form-control input-sm"/></td>
            <td  ng-if="!isEditing(destination)">{{destination.lat}}</td>
            <td  ng-if="isEditing(destination)"><input type="text" ng-model=destination.lat class="form-control input-sm"/></td>
            <td ng-if="!isEditing(destination)">{{destination.lng}}</td>
            <td ng-if="isEditing(destination)"><input type="text" ng-model=destination.lng class="form-control input-sm"/></td>
            <td ng-if="!isEditing(destination)">
                <button class="btn btn-primary" ng-click="edit(destination)">Modifier</button>
                <button class="btn btn-success" ng-click="showHints(destination.id)">Consulter Indices</button>
            </td>
            <td ng-if="isEditing(destination)">
                <button type="button" class="btn btn-primary" ng-click="update(destination)">Confirmer</button>
                <button type="button" class="btn btn-danger" ng-click="closeEdit()">Cancel</button>
            </td>
        </tr>
    </tbody>
</table >
