<button type="button" class="btn btn-info add-button" data-toggle="modal" data-target="#addDestinationModal">Ajouter</button>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Edition</th>
        </tr>
    </thead>
    <tbody>
    <script type="text/ng-template" id="display">
        <td>{{destination.name}}</td>
        <td>{{destination.lat}}</td>
        <td>{{destination.lng}}</td>
        <td>
            <button class="btn btn-primary" ng-click="edit(destination)">Modifier</button>
            <button class="btn btn-success" ng-click="openHints(destination.id)">Consulter Indices</button>
        </td>
    </script>

    <script type="text/ng-template" id="edit">
        <td><input type="text" ng-model=destination.name class="form-control input-sm"/></td>
        <td><input type="text" ng-model=destination.lat class="form-control input-sm"/></td>
        <td><input type="text" ng-model=destination.lng class="form-control input-sm"/></td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="update(destination)">Confirmer</button>
            <button type="button" class="btn btn-danger" ng-click="reset()">Cancel</button>
        </td>
    </script>
        <tr ng-repeat="destination in destinations" ng-include="getTemplate(destination)">

        </tr>
    </tbody>
</table >
