<div class="row">
    <div class="col-sm-3">
        <nav class="nav-sidebar">
            <ul class="nav">
                <li class="active"><a ui-sref=".destination">Gestion des destinations</a></li>
                <li ><a ui-sref=".places">Gestion des lieux</a></li>
                <li ><a ui-sref=".levels">Gestion des niveaux</a></li>
                <li class="nav-divider"></li>
                <li><a ui-sref=".settings">Param&egrave;tres</a></li>
                <li><button class="btn btn-primary" ng-click="logout()">Se d&eacute;connecter</button></li>

            </ul>
        </nav>
    </div>
    <div class="col-sm-9">
        <div ui-view></div>
    </div>
</div>