<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3" ng-controller="HomeController">
          <ul class="dropdown-menu">
            <nav class="nav-sidebar">
                <li class="active menu-list"><a ui-sref=".destination">Gestion des destinations</a></li>
                <li class="divider"></li>
                <li class="menu-list"><a ui-sref=".places">Gestion des lieux</a></li>
                <li class="divider"></li>
                <li class="menu-list"><a ui-sref=".levels">Gestion des niveaux</a></li>
                <li class="divider"></li>
                <li class="menu-list">
                    <button class="btn btn-primary" ng-click="logout()">Se d&eacute;connecter</button>
                </li>
            </nav>
          </ul>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div ui-view class="table"></div>
    </div>
</div>