<div class="row">
    <div class="col-lg-push-4 col-sm-push-4 col-lg-4 col-sm-4">
        <form role="form" ng-submit="login()">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="user.username" id="uLogin" placeholder="Login">
                    <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
                </div>
            </div> <!-- /.form-group -->

            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control" ng-model="user.password" id="uPassword" placeholder="Password">
                    <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                </div> <!-- /.input-group -->
            </div> <!-- /.form-group -->
            <button class="form-control btn btn-primary">Login</button>

            <div class="progress">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only">progress</span>
                </div>
            </div>
            <a href="#/register">S'enregistrer</a>
        </form>
    </div>
</div>