<button type="button" class="btn btn-info add-button" data-toggle="modal" data-target="#addPlaceModal">Ajouter</button>
<form role="form" id="editPlaceForm" ng-submit="update(place)" class="form-horizontal" enctype="multipart/form-data">
</form>
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Type d'indication</th>
        <th>Indication</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="place in places">
        <td>{{place.name}}</td>
        <td>{{place.lat}}</td>
        <td>{{place.lng}}</td>
        <td>{{place.type_indication | uppercase}}</td>
        <td ng-if="place.type_indication=='text'">{{place.indication}}</td>
        <td ng-if="place.type_indication=='url'"><img ng-src="{{API_URL+place.indication}}" alt="image" width="80px" height="50px"/></td>
        <td><button class="btn btn-primary" ng-click="edit(place)">Modifier</button></td>
    </tr>
    </tbody>
</table>