<button type="button" class="btn btn-info add-button" data-toggle="modal" data-target="#addPlaceModal">Ajouter</button>
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Type d'indication</th>
        <th>Indication</th>
    </tr>
    </thead>
    <tbody>
    <script type="text/ng-template" id="display">
        <td>{{place.name}}</td>
        <td>{{place.lat}}</td>
        <td>{{place.lng}}</td>
        <td>{{place.type_indication | uppercase}}</td>
        <td ng-if="place.type_indication=='text'">{{place.indication}}</td>
        <td ng-if="place.type_indication=='url'"><img ng-src="{{API_URL+place.indication}}" alt="image" width="80px" height="50px"/></td>
        <td><button class="btn btn-primary" ng-click="edit(place)">Modifier</button></td>
    </script>

    <script type="text/ng-template" id="edit">
        <td><input type="text" ng-model=place.name class="form-control input-sm"/></td>
        <td><input type="text" ng-model=place.lat class="form-control input-sm"/></td>
        <td><input type="text" ng-model=place.lng class="form-control input-sm"/></td>
        <td>
            <label>
                <input type="radio" ng-model="selected.type_indication" value="text">
                Text
            </label>
            <label>
                <input type="radio" ng-model="selected.type_indication" value="url" >
                URL
            </label>
        </td>
        <td>
            <input ng-if="selected.type_indication=='text'" type="text" ng-model=place.indication class="form-control input-sm"/>
            <input ng-if="selected.type_indication=='url'" type="file" accept=".png, .jpg, .jpeg" ng-model=place.indication class="form-control input-sm"/>
        </td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="update(place)">Confirmer</button>
            <button type="button" class="btn btn-danger" ng-click="reset()">Cancel</button>
        </td>
    </script>
    <tr ng-repeat="place in places" ng-include="getTemplate(place)"></tr>
    </tbody>
</table>