<div class="row">
    <div class="col-lg-push-4 col-sm-push-4 col-lg-4 col-sm-4">
        <form role="form" ng-submit="register()">
            <div class="form-group">
                <div class="input-group">
                    <label for="uNom">Nom</label>
                    <input type="text" class="form-control" ng-model="user.last_name" id="uNom" placeholder="Nom">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <label for="uPrenom">Pr&eacute;nom</label>
                    <input type="text" class="form-control" ng-model="user.first_name" id="uPrenom" placeholder="Prenom">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label for="uUsername">Nom d'utilisateur</label>
                    <input type="text" class="form-control" ng-model="user.username" id="uUsername" placeholder="Username">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <label for="uPassword">Password</label>
                    <input type="password" class="form-control" ng-model="user.password" id="uPassword" placeholder="Password">
                </div> <!-- /.input-group -->
            </div> <!-- /.form-group -->

            <div class="form-group">
                <div class="input-group">
                    <label for="uRepeatPass">Repetez Password</label>
                    <input type="password" class="form-control" ng-model="user.repPassword" id="uRepeatPass" placeholder="Repetez Password">
                </div> <!-- /.input-group -->
            </div> <!-- /.form-group -->

            <button class="form-control btn btn-primary">S'enregistrer</button>
            <a href="#/login"><button class="form-control btn btn-default">Cancel</button></a>

            <div class="progress">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only">progress</span>
                </div>
            </div>
        </form>
    </div>
</div>