<div id="addDestinationModal" class="modal fade" role="dialog" >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="clearModalData()">&times;</button>
        <h4 class="modal-title text-center">Ajouter destination</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-lg-push-2 col-sm-push-2 col-lg-8 col-sm-8">
            <form role="form" id="destForm" ng-submit="addDestination()" ng-controller="DestinationController"class="form-horizontal">
                <fieldset>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="dName">Nom</label>  
                    <div class="col-md-5">
                        <input type="text" required class="form-control input-md" ng-model="destination.name" id="dName" placeholder="Name">
                    </div>
                    <div class="col-md-5">
                        <a ng-shref="{{a}}" ng-show="destination.name" id="Help" class="form-control btn btn-primary" ng-click="getLocationOfDestination()">{{help}}</a>
                        <!--<button type='button' ng-show="destination.name" id="Help" class="form-control btn btn-primary" ng-click="getLocationOfDestination()">{{help}}</button>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="dLat">latitude</label>  
                    <div class="col-md-9 col-md-offset-1">
                        <input type="number" required step="any" class="form-control" ng-model="destination.lat" id="dLat" placeholder="latitude">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="dLng">Longitude</label>  
                    <div class="col-md-9">
                        <input type="number" required step="any" class="form-control" ng-model="destination.lng" id="dLng" placeholder="Longitude">
                    </div>
                </div>
                <div class="col-md-push-4 col-md-6 ">
                    <button type="submit" class="form-control btn btn-primary">Valider</button>
                </div>
                </fieldset>
            </form>
        </div>
    </div>
      </div>
    </div>
  </div>
</div>
